extends layout

block content
	.hero-unit.center
		h1 
			| Page Not Found 
			small: font(color='red')  Error Code 404
		br
		p The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from
		p: b Or you could just press this neat little button:
		a.btn.btn-large.btn-info(href='/')
			i.icon-home.icon-white
			|	Take Me Home