each house in houses
	table.table.table-striped
		thead:tr
			th 房源编号
			th 房源类型
			th 访问时间
		tbody
			tr
				td #{house.houseCode}
				if house.houseType == 1
					td 二手房
				else
					td 租房
				td #{house.visitDttm}        